

body,

html
    {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

body
    {
        background-color: #f3f2ef;
    }

    .navBar
        {
            background-color: white;
            width: 100vw;
            height: 60px;
            border-bottom: 1px solid #00000014;
            position: fixed;
            top: 0;
            left: 0;
        }

    .navigation-content
        {
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-top: 10px;
        }

    .nav-image
        {
            margin-left: 18%;
            color: #0a66c2;
        }

    .me-img 
        {
            height: 23px;
            width: 23px;
            border-radius: 30%;
        }

    .nav-search
        {
            height: 35px;
            width: 270px;
            margin-left: 7px;
            border: none;
            border-radius: 4px;
            background-color: #eef3f8;
            text-indent: 12px;
        }

    .navigation
        {
            margin-left: 12%;
            display: flex;
            align-items: center;
        }

    .nav-icon
        {
            text-decoration: none;
            color: #666;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
            margin-right: 7px;
            font-size: 12px;
            font-weight: 300;
        }

    .home
        {
            height: 100%;
            display: flex;
            margin: 0 auto;
            margin-top: 70px;
            max-width: 70%;
        }

    .left
        {
            height: 500px;
            width: 300px;
            margin-top: 35px;
            background-color: white;
            margin-right: 10px;
            border-radius: 3px;
        }

    .center
        {
            flex-grow: 1;
            margin-top: 35px;
        }

    .right
        {
            height: 400px;
            width: 700px;
            margin-top: 35px;
            background-color: white;
            margin-left: 10px;
            border-radius: 3px;
        }

    .create-posts
        {
            background-color: white;
            height: 120px;
            width: 540px;
            border: 1px solid #6e6e6e42;
            border-radius: 5px;
        }

    .post-image
        {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin-top: 10px;
            margin-left: 10px;
        }

    .create-post-top
        {
            display: flex;
        }

    .post-input
        {
            height: 40px;
            flex: 1;
            border-radius: 25px;
            border: 1px solid #aaa;
            margin: 14px;
            text-indent: 15px;
        }
    .create-post-bottom
        {
            display: flex;
            justify-content: space-around;
        }
    .post-button
        {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            padding: 5px;
            color: #00000099;
        }

    .marginTen
        {
        margin-right: 10px;
        }

    .blueB
        {
        color: #70b5f9;
        }
    .greenB 
        {
            color: #7fc15e;
        }
    .orangeB
        {
            color: #e7a33e;
        }
    .pinkB
        {
            color: #f89295;
        }

    .post-line
        { 
            border-top: 1px solid #00000033;
            margin-top: 30px;
        }
    .text 
        {
            Font-size: 12px
        }

    .lPost
        {
            background-color: white;
            border: 1px solid rgb(156, 156, 156);
            margin-top: 15px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
        }

    .profilePic
        {
            height: 48px;
            width: 48px;
            border-radius: 5%;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

    .post-text
        {
        display: flex;
        align-items: center;
        }

    .post-info
        {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            line-height: 1.3rem;
        }

    .username
        {
            font-size: 15px;
            font-weight: 500;
        }

    .subtext
        {
            font-size: 12px;
            color: #00000099;
        }
    
    .post-content 
        {
            font-size: 14px;
            margin-left: 10px;
            margin-right: 10px;
            box-align: right;
            line-height: 1.6;
        }
    
    .tags
        {
            color: rgb(7, 74, 218)
        }

    .postImg
        {
            height: 100%;
            width: 100%;
            margin-bottom: 10px;
        }
    